<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840117255715-d9req3an5mfqkk4shp7ium6casv6to1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840117255715-d9req3an5mfqkk4shp7ium6casv6to1g</string>
	<key>API_KEY</key>
	<string>AIzaSyBsOMFbGTHqP-ScBLRyV7xlc5oL0IhuDbU</string>
	<key>GCM_SENDER_ID</key>
	<string>840117255715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.natgram</string>
	<key>PROJECT_ID</key>
	<string>natgram-3e0b5</string>
	<key>STORAGE_BUCKET</key>
	<string>natgram-3e0b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840117255715:ios:7caccf0f572deb518bfb96</string>
</dict>
</plist>